body,html{
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    font-family: '微軟正黑體',sans-serif;
}
:focus{
    outline: 0;
}
.content{
    margin: 60px ;
}
.select{
    width: 60%;
    margin: auto;
    display: block;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border:1px solid #ddd;
    margin-bottom: 72px;
}
.box{
     display:flex;

}
.list{
    width: 50%;
    opacity: 0
}
#chart{
    width: 50%;
}


thead{
    background-color: #343A40;
    color:#fff;
    
}
td{
    padding: 15px 20px ;

}
tbody tr:nth-child(odd){
    background-color: rgba(0,0,0,.05);
}